@import 'plugins/animate.css';
@import 'plugins/simplelightbox.min.css';
body {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: .8125rem;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
    background: #14123a;
 
}
iframe.investors {
    height: 360px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300
}

p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 4px;
    color: #c0c4d6;

}
img.eth {
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
}
img.cert {
    border-radius: 15px;
}
.h2,
h2 {
    font-size: 3rem;
    margin: 0;
    color: #402f65
}
.owl-item a.btn {
    background: #46c4c4;
    box-shadow: none !important;
    margin-top: 15px;
}
.color-title {
    color: #402f65
}
section.infobox {
    padding: 50px 0px;
}
section.partners {
    padding: 50px 0;
    background: #0d0b31;
}

section.why {
    padding: 50px 0;
}
.gcard {
    background-color: #1b1a42 !important;
    padding: 35px !important;
    border-radius: 5px;
    padding-bottom: 30px;
}
.title {
    font-weight: 700;
}
img.illustration {
    width: 565px;
    left: 0;
    position: absolute;
    margin-left: 65px;
}
.plan-selector {
    display: flex;
    justify-content: center;
}
header.masthead {
    position: relative;
    background-size: cover;
    height: 70vh;
    display: flex;
    padding-top: 5rem;
}
label.plansd {
    display: inline-grid;
}
label.plansd a {
    font-size: 10px;
    font-weight: 800;
    letter-spacing: 2px;
}
hr {
    margin-block-end: 1.5em;
    border-width: 0.3px;
    opacity: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.45);

}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 25px;
    text-align: left;
}

.card {
    background-color: #1b1a42;
    padding: 25px;
    border-radius: 10px;
}

/*Trade widge styling */
.tradingview-widget-copyright {
  display: none;
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url(style.css);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.lcard {
    padding: 20px;
    padding-bottom: 0px;
}
.deposits label {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}

body::-webkit-scrollbar {
    width: 0.3em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
    background-color: #46c4c4;
    outline: 1px solid #46c4c4;
    border-radius: 30px;
}

.container.masthhead-child {
margin:auto;
}
.owl-carousel.owl-drag .owl-item {
    margin-top: 19px;

}
span.item {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 600 !important;
}
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  label {
    display: inline-block;
    margin-bottom: .5rem;
    font-size: 18px;
    font-weight: 600;
}
output {
    border-radius: 10px;
    color: #fff;
    font-size: 18px;

    font-weight: 600;
}
.dark {
    color: #fff;
    background-color: #070527 !important;
}
.footnav {
    display: block;
    font-size: 15px;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.38);
}
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #46c4c4 ;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 100%;

    background: #46c4c4;
    cursor: pointer;
  }
span.packagename {
    color: #fff;
    position: absolute;
    top: -20px;
    font-size: 24px;
    font-weight: 800;
}
span.JSProfit {
    margin: auto;
    font-size: 16px !important;
    color: #fff;
    margin-right: 31px;
    font-weight: 600;
}
.footer__str-2 {
    font-size: 26px;
    font-weight: 200;
    display: block;
    margin: 0 0 15px 0;
    color: #ffffff;
}
.all-center {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.module__account-main__str-3 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 30px;
    background: #4322CA;
    border-radius: 5px;
    text-align: center;
}
a.social-btn {
    font-size: 12px;
    color: #fff;
    background: #2d2f3a63;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}
.footer {
    padding: 0;
    background: #090a26!important;
}
.module__account-main__str-3 span{
   color:#fff !important;
}
.owl-carousel .item {
    padding: 25px 12px 25px 12px;
    color: #fff;
    font-weight: 400;
}
.owl-item {
    background: #1b1a42;
    border-radius: 10px;

}
iframe {
    width: 100%;
    border: none;
}
span.price.item {
    font-size: 40px;
    margin-bottom: 20px;
}
.CalculateInner label {
    font-size: 17px;
    margin-right: 31px;
    font-weight: 600;
}
h3.title.text-white.text-left {
    font-size: 24px;
    font-weight: 600;
}
.calculator {
    position: relative;
    overflow: hidden;
    padding: 50px 0;
}
input#total_return {
    background: #46c4c4 !important;
}
span.amount {
    color: #fff;
    font-size: 16px;
    margin-bottom: 22px;
    font-weight: 600;
}
select#calc_plan ,input#total_return ,input#inv_amount ,input#total_percent{
    font-size: 14px;
    margin-right: 14px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none !important;
    color: #fff;
    background: rgba(56, 57, 90, 0.37);
-webkit-appearance: none; }
h1.title {
    font-size: 45px !important;
    line-height: 0.8em;
}

section.deposit {
    padding: 50px 0;
}
section.affilate {
    padding: 50px 0;
}
header.masthead .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3
}



header.masthead h1 {
    font-size: 2rem;
}

/* ======================================styling for the feature section ============================================== */

/*====================================================styling of the first content========================================== */
.trade-instr {
  padding: 20px;
  box-shadow: 0 7px 20px rgba(85, 85, 85, 0.16);
  margin: 10px 0;
}
.table th {
  border: none !important;
}
.table td {
  border: 1px solid #fff !important;
}
.m-4-neg {
  margin: -4px 10px 0 0;
}
/*====================================================end styling of the first content========================================== */

/*styling for read more in the modal */
.eng-read-more {
  width: 150px;
  border: 2px solid #52afee;
  padding: 10px;
  margin: -1em auto 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.eng-read-more:hover {
  background: #52afee;
  border-radius: 30px;
  color: #fff;
}
/*this is the stying of the second contentt*/

.big {
  width: 70px;
  margin: 0 auto;
}
/*this is the start of the abt section*/

.abt-body > div h2 {
  padding: 40px;
  font-weight: 900;
  font-size: 3em;
  text-align: center;
  color: #fff;
}

.p-chart {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 35px 20px;
  height: 50vh;
}
.p-text {
  padding: 32px 0;
  font-size: 1.2em;
  line-height: 2;
}

.abt-body {
  background-image: url(../images/profit-bg.jpg);
  padding: 20px;
  background-position: center;
  background-size: cover;
}
.abt-body::before {
  position: absolute;
  content: "";
  background-image: url(../images/icon/vip-black-33.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-top: -20px;
  right: 0;
  width: 100px;
  height: 100px;
}

/*plan styling starts here */

.col-plan-inner {
  width: 100%;
  background: #01163d;
  border-radius: 20px;
  overflow: hidden;
}
.col-plan-head {
  text-align: center;
  color: #fff;
  background: #52afee;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 30px;
}
.col-plan-inner p {
  font-size: 1.1em;
  color: #fff;
  text-align: center;
}
.plan-text::after {
  content: "";
  background: #fff;
  display: block;
  height: 1px;
  width: 250px;
  margin: 5px auto;
}
.black {
  color: #000;
}
.ash-bg {
  background: rgba(0, 0, 0, 0.15,);
}
.lite-ash {
  color: #a9b5cb;
}
.lite-ash-bg {
  background: rgba(0, 0, 0, 0);
}
.green {
  color: #52afee;
}
.green-bg {
  background: #21ae8c;
}
.lt-blue {
  color: #52afee;
}
.orange {
  color: #52afee;
}
.min-price {
  color: #fff;
  text-align: center;
  padding: 2px 10px;
}
.inbox {
    position: absolute;
    font-size: 27px;
    font-weight: 600;
    margin-top: -70px;
    letter-spacing: 1px;
}
.g-card {
    background: linear-gradient(111deg, #0011ff, #fd00ff);
    background-size: 400% 400%;
    
    -webkit-animation: grad 16s  ease infinite;
    -moz-animation: grad 16s  ease infinite;
    animation: grad 16s  ease infinite;
      padding: 50px;
    color: #fff !important;
    border-radius: 15px;
}
 
@-webkit-keyframes grad {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@-moz-keyframes grad {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
}
@keyframes grad {
    0%{background-position:88% 0%}
    50%{background-position:13% 100%}
    100%{background-position:88% 0%}
} 
.showcase .showcase-text {
    padding: 3rem
}
.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover
}

.features-icons {
    padding: 50px 0;
}
.features-icons .features-icons-item {
    max-width: 20rem
}
.features-icons .features-icons-item .features-icons-icon {
    height: 7rem
}
.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem
}
.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem
}
.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem
}
.testimonials .testimonial-item {
    max-width: 18rem
}
.testimonials .testimonial-item img {
    max-width: 12rem;
    -webkit-box-shadow: 0 5px 5px 0 #adb5bd;
    box-shadow: 0 5px 5px 0 #adb5bd
}
.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url(../img/bg-masthead.html) no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem
}
.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .3
}
footer.footer {
    padding-top: 4rem;
    padding-bottom: 4rem
}
.btn.focus,
.btn:focus,
button:focus {
    outline: none!important;
    box-shadow: none!important
}
.white {
    color: #fff
}
.b_white {
    border-color: rgba(255, 255, 255, 0.33)!important
}
.ta-left_cover {
    text-align: left
}
@media only screen and (max-width:1200px) {
    .first {
        order: 2
    }
    
    .second {
        order: 1
    }
}
@media(max-width:550px) {
    .module__power__replace {
        margin-top: 40px
    }
    
    .stats_no_show,
    #stats_no_show {
        display: none!important
    }
    
    .terms {
        text-align: center;
        display: flex;
        justify-content: center
    }
    
    .module__capitalization__str-2 {
        min-width: 185px!important
    }
    
    .module__capitalization__str-2,
    .module__capitalization__str-3 {
        font-size: 12px
    }
    
    header.masthead {
        padding-bottom: 4em
    }
    
    .offset_after_hide_30 {
        margin: 30px 0
    }
    
    .module__power,
    .module__power_img {
        display: none!important
    }
}
@media(max-width:576px) {
    .module__logo {
        margin-left: 15px
    }
}
@media(min-width:550px) {
    .module__power__replace {
        display: none!important
    }
    
    .module__power_img {
        display: block!important
    }
}
@media(max-width:767px) {
    .module__power {
        right: 65px
    }
    
    .module__widget {
        margin: 30px 0 0
    }
}
@media(min-width:992px) {
    .logo-position {
        max-width: 45px
    }
    
    .pc_no_show {
        display: none
    }
}
@media(max-width:992px) {
    .logo-position {
        position: relative;
        top: 13px
    }
    
    .main-menu {
        display: block!important;
        flex: 0
    }
    
    .mobile_no_show {
        display: none
    }
    
    .lang_menu_show {
        display: flex!important;
        flex: 1
    }
    
    .module__video .btn {
        margin-bottom: 40px!important
    }
    
    .module__video {
        text-align: center
    }
    
    .footer__btns {
        text-align: center!important
    }
    
    .h2,
    h2 {
        text-align: center!important
    }
    
    span {
        text-align: center!important
    }
    
    .ta-left,
    .ta-right {
        text-align: center!important
    }
}
div#navbarSupportedContent {
    background: #090725;
    z-index: 1000;
}
@media(min-width:1200px) {
    .container {
        max-width: 1240px;
        padding: 0 1em
    }
}

@media(max-width:1200px) {
    .logo-responsive {
        display: none
    }
 
    header.masthead {
        padding-top: 2rem;
        height: 26vh;
    }
    
  
    img.illustration {
        display:none;
    }
    .container {
        width: 100% ;
    }
    .ta-left_cover {
        text-align: center!important
    }
    
    .container {
        padding: 0 ;
    }
    
    .header__link {
        min-width: 60px!important;
        height: 28px!important;
        line-height: 28px!important;
        font-size: 10px!important;
        margin-left: 7px!important;
        padding: 0 10px!important
    }
    
    .module_lang {
        margin: 0!important
    }
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: #14113a;
}
.navbar.scrolled {
    background: #14123a;
}
.menu__link_active {
    color: #ffca00!important
}
button {
    cursor: pointer;
    vertical-align: middle;
    border: 0;
    border: 0;
    outline: 0;
    background: transparent
}
.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #ffb501 !important;
}
.btn {
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 140px;
    height: 43px;
    padding: 0 30px;
    cursor: pointer;
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: normal;
    border: 0;
    border-radius: 7px;
    color: #fff !important;
    -webkit-appearance: none;
    background: linear-gradient(100deg, #46c4c4, #46c4c4);
    border-radius: 5px;
    box-shadow: 3px 1px 20px 11px #46c4c44a;
}
.btn:hover {
    -webkit-transition: ease-in-out .2s;
    -moz-transition: ease-in-out .2s;
    -ms-transition: ease-in-out .2s;
    -o-transition: ease-in-out .2s;
    transition: ease-in-out .2s;
    color: #fff;
    background: linear-gradient(34deg,#46c4c4 -34%, #46c4c4 147%)
}
.btn::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    content: '';
    -webkit-transition: -webkit-transform .4s, opacity .4s;
    -webkit-transition: -webkit-transform .4s, opacity .4s;
    -moz-transition: -moz-transform .4s, opacity .4s;
    -ms-transition: -ms-transform .4s, opacity .4s;
    -o-transition: -o-transform .4s, opacity .4s;
    transition: transform .4s, opacity .4s;
    -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    -webkit-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    -moz-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    -ms-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    -o-transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    transition-timing-function: cubic-bezier(.2, 1, .3, 1);
    -webkit-transform: scale3d(.7, 1, 1);
    -webkit-transform: scale3d(.7, 1, 1);
    -moz-transform: scale3d(.7, 1, 1);
    -ms-transform: scale3d(.7, 1, 1);
    -o-transform: scale3d(.7, 1, 1);
    transform: scale3d(.7, 1, 1);
    opacity: 0;
    background: linear-gradient(34deg,#604ffab0 -34%, #ff3e3e85 147%);
    -ms-filter: 'alpha(opacity=0)';
    filter: alpha(opacity=0)
}
.btn:hover:before {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none
}
.btn_lg {
    font-size: 16px;
    font-weight: normal;
    line-height: 53px;
    width: 250px;
    height: 53px;
    padding: 0
}
.btn_md {
    font-size: 16px;
    font-weight: normal;
    line-height: 57px;
    width: auto;
    min-width: 125px;
    height: 57px;
    padding: 0 30px
}
.btn_white {
    color: #282828;
    border-color: #fff;
    background-color: #fff
}
.btn_red {
    color: #fff;
    border-color: #be1b2e;
    background-color: #be1b2e
}
.btn_green {
    color: #fff;
    border-color: #79be1f;
    background-color: #79be1f
}
.btn_blue {
    color: #fff;
    border-color: #0052b4;
    background-color: #0052b4
}
.btn_yellow {
    color: #fff;
    border-color: #ffcb01;
    background-color: #ffcb01
}
.btn_orange {
    color: #fff;
    border-color: #f17300;
    background-color: #f17300
}
.btn_purple {
    color: #fff;
    border-color: #5b3b74;
    background-color: #5b3b74
}
.btn_grey {
    color: #fff;
    border-color: #6a6969;
    background-color: #6a6969
}
.btn_tr {
    color: #402f65;
    border: 1px solid transparent;
    background-color: transparent
}
.btn_tr:hover {
    color: #fff;
    border-color: #f1bf00;
    background-color: transparent
}
.btn_tr:disabled {
    color: #f0e9f5;
    border-color: #f0e9f5;
    background-color: transparent
}
.btn_tr:disabled:hover {
    color: #f0e9f5;
    background-color: transparent
}
}
.btn {
    border-radius: 10px;
    background: linear-gradient(34deg,#3b27ecb0 -34%, #ff131385 147%);
    box-shadow: 0px 19px 32px rgba(238, 0, 255, 0.27);
    border: 0;
    color: #fff !important;
}
.center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center
}
.between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -o-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}
.nav_width {
    width: 1240px;
    margin: 0 auto;
    padding: 0 1em
}
.header__link {
    margin-left: 25px
}
.navbar-light .navbar-nav .nav-link {
    font-weight: 400;
    font-size: 13px;
    padding: 5px 10px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}



a:hover {
    text-decoration:none;
    color:#ff016b;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    text-decoration:none;
    color:#ff016b;
}
.module__logo__link:hover {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    text-decoration:none;
    opacity:.8;
    -ms-filter:'alpha(opacity=80)';
    filter:alpha(opacity=80)
}
.module__logo svg {
    margin-right:0
}
.module__logo__str,
.module__logo__str-2,
.module__logo__str-3 {
    font-size:16px;
    text-transform:uppercase;
    color:#fff;
    font-weight:500
}
.module__logo__str-3 {
    color:#ffcb01;
    margin:0 1px
}
.module__logo__str {
    margin-left:2px
}
.module__logo .icon_logo {
    -webkit-animation:logo 5s infinite linear;
    -moz-animation:logo 5s infinite linear;
    -ms-animation:logo 5s infinite linear;
    -o-animation:logo 5s infinite linear;
    animation:logo 5s infinite linear
}
.icon {
    fill:currentColor;
    fill-rule:evenodd
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color:#ffcb01!important
}
.module_lang {
    margin-left:55px
}
.navbar-nav .dropdown-menu {
    position:absolute;
    float:none;
    z-index:1000
}
.dropdown-menu {
    position:absolute;
    z-index:1;
    top:-4px;
    left:-28px;
    display:none;
    min-width:250px;
    padding:5px 0;
    border-radius:5px;
    background:#684283;
    -webkit-box-shadow:0 0 5px rgba(0, 0, 0, .3);
    box-shadow:0 0 5px rgba(0, 0, 0, .3)
}
.dropdown-item:focus,
.dropdown-item:hover {
    text-decoration:none;
    background:#5b3b74
}
.dropdown-item {
    color:#fff;
    font-size:13px
}
.ta-left {
    text-align:left
}
.ta-right {
    text-align:right
}
.ta-center {
    text-align:center
}
.module__power {
    position:relative;
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex;
    overflow:hidden;
    height:598px;
    width:598px;
    margin:0 auto
}
.module__power__hash {
    width:100%;
    height:498px;
    margin:auto 0
}
.module__power__hash::after {
    position:absolute;
    top:-16px;
    display:block;
    width:100%;
    height:100%;
    content:'';
    -webkit-animation:spin 120s linear infinite;
    -moz-animation:spin 120s linear infinite;
    -ms-animation:spin 120s linear infinite;
    -o-animation:spin 120s linear infinite;
    animation:spin 120s linear infinite;
    background:url('../images/background/circle.png') no-repeat center
}
.module__power__item-1,
.module__power__item-2,
.module__power__item-3 {
    position:absolute;
    z-index:1;
    text-align:center
}
.module__power__item-1:hover span,
.module__power__item-2:hover span,
.module__power__item-3:hover span {
    cursor:pointer;
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    color:#402f65
}
.module__power__item-1 {
    top:204px;
    left:86px
}
.module__power__item-2 {
    top:256px;
    left:438px
}
.module__power__item-3 {
    top:410px;
    left:314px
}
.module__power__str-2 {
    color:#ffcb01;
    fill:#ffcb01
}
.module__power__str {
    font-family:400;
    font-size:36px;
    position:relative;
    display:block;
    color:#ffcb01;
    fill:#ffcb01
}
.module__power__btn {
    position:absolute;
    z-index:1;
    top:229px;
    left:245px
}
.module__power__by {
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex;
    width:113px;
    height:113px;
    text-align:center;
    border:3px solid #ffcb01;
    border-radius:50%;
    background:#ffcb01
}
.module__power__by span {
    font-size:16px;
    margin:auto;
    color:#402f65
}
.module__power__by_disabled {
    cursor:not-allowed;
    border-color:#5c487c;
    background:transparent
}
.module__power__by_disabled span {
    color:#5c487c
}
.module__power__svg {
    position:absolute;
    z-index:1;
    top:111px;
    left:41px;
    width:518px;
    height:428px
}
.module__power .cls-2 {
    cursor:pointer;
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    fill:#56307b;
    fill-opacity:.7;
    stroke:#fff;
    stroke-width:2px
}
.module__power .cls-2::after {
    content:'';
    content:'th'
}
.module__power .hover,
.module__power .cls-2:hover,
.module__power .cls-2.active {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    fill:rgba(249,
    249,
    249,
    0.33);
    fill-opacity:1;
    stroke:#fffdf7
}
.module__power text {
    font-family:400
}
.module__power__item-1.hover span,
.module__power__item-2.hover span,
.module__power__item-3.hover span,
.module__power .active span {
    color:#402f65
}
.module__cloud__str {
    font-size:26px;
    font-weight:300;
    display:block;
    margin:0 0 20px;
    color:#402f65
}
.module__capitalization {
    padding:50px 0
}
.module__capitalization__str {
    font-size:26px;
    font-weight:300;
    display:block;
    margin:0 0 45px 0;
    color:#402f65
}
.module__capitalization__str-2,
.module__capitalization__str-3 {
    color:#402f65
}
.module__capitalization__str-2 {
    min-width:284px;
    margin-right:5px
}
.module__capitalization__str-2::after {
    position:relative;
    top:-10px;
    margin:0 5px;
    content:'';
    content:' ';
    border-bottom:1px dashed #f0e9f5;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1
}
.module__capitalization__table-row {
    line-height:32px
}
.module__capitalization__table {
    margin-left:30px
}
.module__capitalization__set {
    margin-right:15px;
    padding:20px 0 50px 0;
    border-bottom:1px solid #402f65
}
.module__capitalization__tabs {
    margin-right:20px;
    padding:20px 0 0 0
}
.module__capitalization__img {
    filter:grayscale(100%)
}
.jsActive .module__capitalization__img {
    filter:grayscale(0%)
}
.jsTab:hover .module__capitalization__img {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    filter:grayscale(0%)
}
.module__capitalization th {
    font-size:13px;
    font-weight:400;
    width:20%;
    padding:10px 0;
    text-align:left;
    color:#402f65;
    border-top:1px solid #f0e9f5;
    border-bottom:1px solid #f0e9f5
}
.module__capitalization td {
    font-size:16px;
    width:20%;
    padding:10px 0;
    color:#402f65
}
@-moz-keyframes logo {
    0% {
        opacity: .3;
        -ms-filter: 'alpha(opacity=30)';
        filter: alpha(opacity=30)
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
    100% {
        opacity: .3;
        -ms-filter: 'alpha(opacity=30)';
        filter: alpha(opacity=30)
    }
}
@-webkit-keyframes logo {
    0% {
        opacity: .3;
        -ms-filter: 'alpha(opacity=30)';
        filter: alpha(opacity=30)
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
    100% {
        opacity: .3;
        -ms-filter: 'alpha(opacity=30)';
        filter: alpha(opacity=30)
    }
}
@-o-keyframes logo {
    0% {
        opacity: .3;
        -ms-filter: 'alpha(opacity=30)';
        filter: alpha(opacity=30)
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
    100% {
        opacity: .3;
        -ms-filter: 'alpha(opacity=30)';
        filter: alpha(opacity=30)
    }
}
@keyframes logo {
    0% {
        opacity: .3;
        -ms-filter: 'alpha(opacity=30)';
        filter: alpha(opacity=30)
    }
    50% {
        opacity: 1;
        -ms-filter: none;
        filter: none
    }
    100% {
        opacity: .3;
        -ms-filter: 'alpha(opacity=30)';
        filter: alpha(opacity=30)
    }
}
@-moz-keyframes spin {
    from {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}
@-o-keyframes spin {
    from {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}
@keyframes spin {
    from {
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        transform: rotateZ(0deg)
    }
    to {
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}
@-moz-keyframes mouse {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    25% {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px)
    }
    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}
@-webkit-keyframes mouse {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    25% {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px)
    }
    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}
@-o-keyframes mouse {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    25% {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px)
    }
    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}
@keyframes mouse {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
    25% {
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
        transform: translateY(10px)
    }
    50% {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px)
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px)
    }
}
jsHidden {
    display:none
}
.jsVisible {
    display:block
}
.jsContFlex.jsDisplayFlex {
    display:-webkit-box!important;
    display:-moz-box!important;
    display:-webkit-flex!important;
    display:-ms-flexbox!important;
    display:box!important;
    display:flex!important
}
.jsContFlex {
    display:none!important
}
.jsTabDash,
.jsTab {
    cursor:pointer
}
.jsCont,
.jsContDash {
    display:none
}
.jsCont.jsActive,
.jsCont2.jsActive,
.jsContDash.jsActive {
    display:block!important
}
.jsNone {
    display:none
}
.jsToggle.jsActive .jsFade {
    display:block
}
.module__video {
    position:relative;
    overflow:hidden;
    padding:70px 0;
}
.module__video iframe {
    display:block;
    width:100%;
    height:318px
}
.module__video__wrapper {
    overflow:hidden;
    border-radius:5px;
    -webkit-box-shadow:0 0 10px rgba(0,
    0,
    0,
    .4);
    box-shadow:0 0 10px rgba(0,
    0,
    0,
    .4)
}
.module__video h2 {
    color:#fff
}
.module__video__str {
    font-size:24px;
    font-weight:300;
    display:block;
    margin-bottom:20px;
    color:#fff
}
.module__video .btn {
    margin:10px 0 0 0
}
.module__particles {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}
.module__particles .particles-js {
    height:100%
}
.module__widget .ccc-widget>div {
    -webkit-box-shadow:0 0 15px rgba(0,
    0,
    0,
    .09);
    box-shadow:0 0 15px rgba(0,
    0,
    0,
    .09)
}
.module__widget .ccc-widget>div>div:nth-child(4) {
    font-size:12px
}
.module__widget h3 {
    font-size:0
}
.heading h2 {
    font-size:36px;
    margin-bottom:25px
}
.module__secure {
    padding:50px 0 60px 0;
    background-color:#f9f9fc
}
.module__secure__item {
    margin:15px;
    padding:40px 20px;
    text-align:center;
    border-radius:4px;
    -webkit-box-shadow:0 0 10px rgba(0,
    0,
    0,
    .15);
    box-shadow:0 0 10px rgba(0,
    0,
    0,
    .15)
}
.module__secure__img {
    display:block;
    margin:0 auto 25px auto
}
.module__secure .btn {
    min-width:104px
}
.module__support {
    padding-top:60px;
    background:-webkit-linear-gradient(top,
    #fff 0,
    #fff 117px,
    #f9f9fc 135px,
    #f9f9fc 100%);
    background:-moz-linear-gradient(top,
    #fff 0,
    #fff 150px,
    #f9f9fc 150px,
    #f9f9fc 100%);
    background:-o-linear-gradient(top,
    #fff 0,
    #fff 150px,
    #f9f9fc 150px,
    #f9f9fc 100%);
    background:-ms-linear-gradient(top,
    #fff 0,
    #fff 150px,
    #f9f9fc 150px,
    #f9f9fc 100%);
    background:linear-gradient(to bottom,
    #fff 0,
    #fff 117px,
    #f9f9fc 138px,
    #f9f9fc 100%)
}
.module__support .icon {
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    margin:0 auto
}
.module__support__col-1 {
    margin:20px 0 50px;
    padding:20px 30px;
    border-radius:4px;
    background:#fff;
    -webkit-box-shadow:0 0 10px rgba(0,
    0,
    0,
    .1);
    box-shadow:0 0 10px rgba(0,
    0,
    0,
    .1)
}
.module__support__col-1 p {
    padding:0
}
.module__support__str {
    font-size:21px;
    font-weight:300;
    display:block;
    margin:0 0 15px 0;
    color:#8678a2
}
.module__support__col {
    width:80%;
    margin:0 auto;
    padding:0 15px
}
.module__support_reset {
    position:relative;
    height:90px;
    padding:0;
    background:#f9f9fc
}
.module__support_reset>.container {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:0
}
.module__support_reset .module__support__offer {
    width:1240px;
    margin:0 auto;
    padding:0 20px
}
.footer {
    padding:0;
    background:#f9f9fc
}
.footer .icon {
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto
}
.footer__str-2 {
    font-size:26px;
    font-weight:200;
    display:block;
    margin:0 0 15px 0;
    color:#402f65
}
.footer__start {
    margin-top:20px;
    padding:0 0 20px 0;
    border-bottom:1px solid #d7d7e3
}
.footer__btns {
    text-align:right
}
.footer__btns .btn {
    margin:10px 10px 10px 0
}
.footer__copy {
    padding:20px 0
}
.footer__str-3,
.footer__str-4,
.footer__str-5 {
    font-size:16px;
    text-transform:uppercase;
    color:#402f65;
    position:relative;
    top:10px
}
.footer__str-5 {
    font-weight:400;
    color:#ffcb01;
    margin:0 -.15em
}
.footer__str-4 {
    font-weight:400
}
.footer__col-2 p {
    padding:5px 0 0 0
}
.footer__col-2 a {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    text-decoration:underline;
    color:#402f65
}
.footer__col-2 a:hover {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    text-decoration:none;
    color:#ff016b;
}
.move_logo {
    position:relative;
    bottom:2px;
    left:12px
}
.footer .icon_logo {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s
}
.footer .icon_logo:hover {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    opacity:.7;
    -ms-filter:'alpha(opacity=70)';
    filter:alpha(opacity=70)
}
.module__socials__link {
    display:block;
    margin-left:10px
}
.module__socials .icon_facebook,
.module__socials .icon_twitter,
.module__socials .icon_youtube,
.module__socials .icon_telegram {
    width:35px;
    height:35px;
    color:#5b3b74
}
.module__socials .icon_facebook:hover,
.module__socials .icon_twitter:hover,
.module__socials .icon_youtube:hover,
.module__socials .icon_telegram:hover {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    color:#f17300
}
.module__capitalization th {
    font-size:13px;
    font-weight:400;
    width:23%;
    padding:10px 0;
    text-align:left;
    color:#402f65;
    border-top:1px solid #f0e9f5;
    border-bottom:1px solid #f0e9f5
}
.module__capitalization td {
    font-size:16px;
    width:20%;
    padding:10px 0;
    color:#402f65
}
.ccc-feed b {
    display:none
}
.icon_btc-mining {
    margin:30px auto
}
.module__power__btn a:hover>span {
    color:#fff
}
.module__profit__str-4 {
    font-size:16px;
    font-weight:200;
    display:block;
    margin:0 0 10px 0;
    color:#fff
}
.module__profit__form {
    padding:30px 30px 1px 30px;
    border-radius:5px;
    background:#402f65;
    -webkit-box-shadow:0 0 10px rgba(0,
    0,
    0,
    .1);
    box-shadow:0 0 10px rgba(0,
    0,
    0,
    .1)
}
.module__profit__row {
    overflow:hidden;
    border-radius:5px
}
.module__profit__item {
    padding:1.5em 0;
    text-align:center;
    background:#684283;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    width:98%;
    margin:0 auto
}
.module__profit__item:nth-child(2) {
    border-right:1px solid #402f65;
    border-left:1px solid #402f65
}
.module__profit__str-1 {
    font-family:200;
    font-size:16px;
    color:#fff
}
.module__profit__str-2 {
    font-size:46px;
    display:block;
    margin:10px 0;
    color:#ffcb01
}
.module__profit__str-3 {
    font-family:200;
    font-size:16px;
    color:#ffcb01
}
.module__profit .btn {
    display:block;
    width:100%;
    margin-top:30px
}
.module__profit__str {
    font-size:26px;
    font-weight:200;
    display:block;
    margin:10px 0 30px 0;
    color:#fff
}
.support_offset {
    padding:0;
    background:transparent;
    margin:-80px 0 0
}
.module__top_particles {
    position:relative;
    padding:148px 0 69px 0;
    background:-webkit-linear-gradient(left,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%)!important;
    background:-moz-linear-gradient(left,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%)!important;
    background:-o-linear-gradient(left,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%)!important;
    background:-ms-linear-gradient(left,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%)!important;
    background:linear-gradient(to right,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%)!important
}
.module__top_particles>.container {
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex;
    flex-direction:column;
    height:100%;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column
}
.icon_affiliate_cover {
    padding-top:5em;
    height:100%
}
.module__text {
    padding:60px 0 50px 0
}
.module__text__str {
    font-size:26px;
    font-weight:400;
    text-transform:uppercase;
    color:#402f65
}
.module__text .icon {
    display:block;
    margin:0 auto 30px auto
}
.module__text__str-2 {
    font-size:20px;
    font-weight:400;
    display:block;
    text-transform:uppercase;
    color:#402f65
}
.module__text__str-3 {
    font-size:20px;
    font-weight:200;
    display:block;
    margin:0 0 20px 0;
    color:#402f65
}
.module__text__item {
    text-align:center
}
.module__text_soft {
    background:#f9f9fc
}
.module__text_reset {
    padding-bottom:0
}
.module__text_reset p {
    padding:0
}
.h2_md {
    font-size:26px;
    line-height:32px;
    margin:0 0 15px 0
}

.module__building .icon {
    margin-right:30px;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto
}
.module__building .col__45 {
    margin-bottom:50px
}
.module__building__str {
    font-size:20px;
    font-weight:200;
    display:block;
    margin:0 0 10px 0;
    color:#402f65
}
.module__building__row {
    margin:40px 0
}
.building__padding {
    padding:10px
}
.module__text iframe {
    display:block;
    width:100%;
    height:260px
}
.module__by {
    margin-top:50px;
    padding:50px 0 0 0;
    border-top:1px solid #f0e9f5
}
.module__by__link {
    text-align:center;
    height:60px
}

}
.module__by__row {
    margin:0 auto 0 auto;
    padding:15px 0 0 0
}
.module__by__link:hover {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    opacity:.6;
    -ms-filter:'alpha(opacity=60)';
    filter:alpha(opacity=60)
}
.img-fluid_80 {
    max-width:80%;
    height:auto
}
.item {
    display:grid;
    padding:10px 0
}
.module__faq__tabs {
    padding:45px 0 40px 40px
}
.module__faq__str {
    font-size:18px;
    font-weight:200;
    color:#fff;
}
.module__faq__str::after {
    font-size:18px;
    font-weight:200;
    margin-right:2px;
    margin-left:7px;
    content:'/';
    color:#fff;
}
.module__faq__str:last-child:after {
    display:none
}
.module__faq__str.jsActive {
    font-weight:400
}
.module__faq__link {
    font-size:18px;
    font-weight:200;
    line-height:20px;
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex;
    padding:20px 0;
    color:#fff;
    -webkit-box-align:baseline;
    -moz-box-align:baseline;
    -o-box-align:baseline;
    -ms-flex-align:baseline;
    -webkit-align-items:baseline;
    align-items:baseline
}
.module__faq__link:hover {
    color:#fffdf7
}
.module__faq__link::before {
    font-size:26px;
    font-weight:400;
    margin-right:15px;
    content:'Q:';
    text-transform:uppercase;
    color:#fff
}
.module__faq__item {
    border: none;
    background: #ffffff14;
    padding: 8px 20px 8px 20px;
    border-radius: 15px;
    margin-bottom: 18px;
}
.module__faq__item:last-child {
    border-bottom:0;
    overflow-wrap:break-word
}
.module__faq__sub {
    margin-bottom: 40px;
    padding-left: 37px;
    border-left: 2px solid #46c4c4;
}
.module__faq p:last-child {
    padding:0
}
.module__faq p a {
    font-weight:400;
    color:#fff;
}
.module__faq p a:hover {
    text-decoration:underline
}
.module__contact {
    background: none;
    background-size: cover;
    margin-bottom: 80px;
}
/*=======================================styling for TRADE OPTION===================================================================*/
.trade-option {
  background: #cccccc;
}
.trade-option-1,
.trade-option-2 {
  border-radius: 1%;
  margin: 20px auto;
  color: #fff;
  font-size: 0.8em;
  height: 60vh;
  overflow: hidden;
}
.trade-option-1 h4 {
  padding: 20px;
}

.trade-option-1 {
  background: #486271;
}
.trade-option-2 {
  background: #486271;
}
.trade-option-1 h5 {
  padding: 8px;
}
.t-color-1 {
  background: #1fb05c;
}
.green {
  color: #1fb05c;
}

.content {
  text-align: left !important;
}
.module__contact__form {
    margin:0 auto;
    margin-bottom:45px;
    padding:30px;
    border-radius:5px;
    background:#fff;
    -webkit-box-shadow:0 0 10px rgba(0,
    0,
    0,
    .3);
    box-shadow:0 0 10px rgba(0,
    0,
    0,
    .3);
    margin:105px 0 150px 0
}
.module__contact__str {
    font-size:18px;
    font-weight:400;
    display:block;
    margin-bottom:15px;
    color:#5b3b74
}
.module__contact input, .module__contact textarea {
    background: #201f49;
    border: none !important;
    color: #ccc;
}
.module__contact textarea {
    height:87px
}
.module__contact .icon {
    width:30px;
    height:30px;
    margin-right:15px;
    color:#5b3b74;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto
}
.module__contact__link {
    font-size:12px;
    display:block;
    margin-bottom:20px;
    color:#5b3b74;
    width:auto
}
.module__contact__link:hover {
    text-decoration:underline
}
.module__contact__link:last-child {
    margin:0
}
.module__contact__tel {
    font-size:14px;
    color:#212121
}
.module__contact__str-2 {
    font-size:14px;
    line-height:25px;
    color:#212121
}
.module__contact__row {
    margin-bottom:15px
}
.module__contact .icon_icon3 {
    width:20px;
    margin-right:20px;
    margin-left:4px
}
.col__50 {
    position:relative;
    width:50%;
    padding:0 15px
}
.col__popup__module {
    padding:20px 10px
}
.page_registration main {
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex
}
.module__registration {
    position:relative;
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex;
    flex-direction:column;
    padding:3em 0;
    height: 105vh;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column
}
.module__registration__popup {
    position: relative;
    max-width: 430px;
    margin: auto;
    border-radius: 5px;
    background: #46c4c4;
}
.module__registration__top {
    padding:20px 30px 30px 30px
}
.module__registration h2 {
    font-size: 26px;
    margin: 0 0 15px 0;
    font-weight: 600;
    color: #fff;
    padding-bottom: 20px;
}
.module__registration__bottom {
    border-top:1px solid #46c4c4;
    padding:20px;
}
label.form__label span {
    color: #d7d7d7;
    margin-bottom: 20px;
}
.module__registration p {
    color:#fff
}
.module__registration p a {
    color:#ffcb01
}
.module__registration p a:hover {
    text-decoration:underline
}
.module__registration__col {
    padding:30px
}
.module__registration__col p {
    padding:0
}
.module__registration .col__50 {
    padding:20px 0 20px 0
}
.module__registration .col__50_border {
    border-right:1px solid #46c4c4
}
.module__registration__str {
    font-size:13px;
    margin-bottom:3px;
    color:#fff
}
.module__registration__ent {
    cursor: pointer;
    text-transform: uppercase;
    color: #b8b8b8;
    font-weight: 600;
}
.module__registration__ent:hover {
    text-decoration:underline
}
.main {
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    -ms-box-flex:1;
    box-flex:1;
    -webkit-flex-grow:1;
    flex-grow:1
}
.page__wrapper {
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex;
    flex-direction:column;
    max-width:100%;
    min-height:100vh;
    margin:0 auto;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column
}
footer.login {
    padding-top:1rem;
    padding-bottom:1rem
}
.module__account-notification {
    padding:20px 20px 0 20px
}
.module__account-notification_page {
    position:relative;
    z-index:10;
    top:0;
    right:0;
    padding:5px 0
}
.module__account-notification .icon {
    display:block;
    width:17px;
    height:17px;
    color:#380d0d
}
.module__account-notification__item {
    display:none;
    margin-bottom:4px;
    padding:20px;
    border-radius:5px
}
.module__account-notification .close:hover {
    cursor:pointer;
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    opacity:.8;
    -ms-filter:'alpha(opacity=80)';
    filter:alpha(opacity=80)
}
.module__account-notification__str {
    color:#380d0d;
    padding:0 2em 0 4em
}
.module__account-notification .success {
    background:rgba(87,
    212,
    85,
    0.63)
}
.module__account-notification .warning {
    background:#d9bc32
}
.module__account-notification .error {
    background:#fb8181
}
.module__account-notification .information {
    background:#3884ac
}
.module__account-notification .jsVisible {
    display:block
}
.module__preload {
    margin:auto
}
.module__preload__str,
.module__preload__str-3 {
    font-size:24px;
    font-weight:200;
    display:block;
    color:#fff
}
.module__preload__str-2 {
    font-size:48px;
    font-weight:300;
    display:block;
    margin-bottom:15px;
    color:#fff
}
.module__preload__str-3 {
    font-weight:200
}
.module__preload__str-4 {
    font-size:36px;
    display:block;
    margin:35px 0 20px 0;
    color:#fff
}
.module__preload__bar {
    position:relative;
    width:100%;
    height:2px;
    background:#5b3c7a
}
.module__preload__bar span {
    position:absolute;
    top:0;
    left:0;
    height:2px;
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    -webkit-animation:load 10s;
    -moz-animation:load 10s;
    -ms-animation:load 10s;
    -o-animation:load 10s;
    animation:load 10s;
    background:#ffcb01;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    -ms-animation-fill-mode:forwards;
    animation-fill-mode:forwards
}
.module__preload .green:first-child {
    -webkit-animation:bl 1s infinite;
    -moz-animation:bl 1s infinite;
    -ms-animation:bl 1s infinite;
    -o-animation:bl 1s infinite;
    animation:bl 1s infinite
}
.module__preload__row span {
    font-size:36px;
    display:block;
    width:30px;
    margin:35px 0 20px 0;
    color:#fff
}
.module__preload .dis {
    display:none;
    margin-left:4px
}
.module__preload .dis-2 {
    display:none;
    margin-left:4px
}
@-moz-keyframes load {
    0% {
        width:0
    }
    100% {
        width:100%
    }
}
@-webkit-keyframes load {
    0% {
        width:0
    }
    100% {
        width:100%
    }
}
@-o-keyframes load {
    0% {
        width:0
    }
    100% {
        width:100%
    }
}
@keyframes load {
    0% {
        width:0
    }
    100% {
        width:100%
    }
}
@-moz-keyframes bl {
    0% {
        opacity:0;
        -ms-filter:'alpha(opacity=0)';
        filter:alpha(opacity=0)
    }
    50% {
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    100% {
        opacity:0;
        -ms-filter:'alpha(opacity=0)';
        filter:alpha(opacity=0)
    }
}
@-webkit-keyframes bl {
    0% {
        opacity:0;
        -ms-filter:'alpha(opacity=0)';
        filter:alpha(opacity=0)
    }
    50% {
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    100% {
        opacity:0;
        -ms-filter:'alpha(opacity=0)';
        filter:alpha(opacity=0)
    }
}
@-o-keyframes bl {
    0% {
        opacity:0;
        -ms-filter:'alpha(opacity=0)';
        filter:alpha(opacity=0)
    }
    50% {
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    100% {
        opacity:0;
        -ms-filter:'alpha(opacity=0)';
        filter:alpha(opacity=0)
    }
}
@keyframes bl {
    0% {
        opacity:0;
        -ms-filter:'alpha(opacity=0)';
        filter:alpha(opacity=0)
    }
    50% {
        opacity:1;
        -ms-filter:none;
        filter:none
    }
    100% {
        opacity:0;
        -ms-filter:'alpha(opacity=0)';
        filter:alpha(opacity=0)
    }
}
.module__preload__ul {
    margin:50px auto 0 auto
}
.module__preload__item {
    font-size:16px;
    font-weight:300;
    line-height:35px;
    color:#fff
}
.module__preload__item span {
    font-weight:300
}
.page_preload main {
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex
}
.page__wrapper_account {
    background:-webkit-linear-gradient(left,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%);
    background:-moz-linear-gradient(left,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%);
    background:-o-linear-gradient(left,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%);
    background:-ms-linear-gradient(left,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%);
    background:linear-gradient(to right,
    rgba(91, 59, 116, .98) 0,
    rgba(91, 59, 116, .98) 50%,
    rgba(58, 42, 92, .98) 100%)
}
.column-2 {
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex;
    flex-direction:column;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-box-flex:1;
    -moz-box-flex:1;
    -o-box-flex:1;
    box-flex:1;
    -webkit-flex:0 1 auto;
    -ms-flex:0 1 auto;
    flex:0 1 auto;
    -webkit-flex-wrap:nowra;
    -ms-flex-wrap:nowra;
    flex-wrap:nowra;
    -webkit-box-orient:vertical;
    -moz-box-orient:vertical;
    -o-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column
}
.center-c {
    -webkit-box-pack:center;
    -moz-box-pack:center;
    -o-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    justify-content:center
}
.module__preload__row span {
    font-size:36px;
    display:block;
    width:30px;
    margin:35px 0 20px 0;
    color:#fff
}
.yellow {
    color:#ffcb01
}
.green {
    color:#79be1f
}
span {
    font-size:14px;
    display:inline-block;
    color:#ab98b8;
    height:16px
}
ul {
    list-style:none
}
.form__input,
.form__select {
    display:block;
    width:100%;
    height:42px;
    margin:0;
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    border:1px solid #5e4875
}
.form__input:focus,
.form__select:focus {
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    color:#402f65
}
:focus {
    outline:-webkit-focus-ring-color auto 0!Important;
    outline-color:-webkit-focus-ring-color;
    outline-style:auto;
    outline-width:0!Important
}
.form__input_big {
    font-size:24px;
    font-weight:300;
    height:57px;
    padding-right:70px;
    border-color:#fff;
    background:#fff;
    padding-left:10px;
    border-radius:3px
}
.form__label_disabled {
    position:relative
}
.form__label_disabled:after {
    position:absolute;
    z-index:1;
    top:13px;
    right:15px;
    display:block;
    width:20px;
    height:20px;
    content:'';
    background:url('../images/inputs/1.png') no-repeat center
}
.form__label_search {
    position:relative
}
.form__label_search input {
    line-height:43px;
    height:43px
}
.form__label_search:after {
    position:absolute;
    z-index:1;
    top:12px;
    right:15px;
    display:block;
    width:20px;
    height:20px;
    content:'';
    background:url('../images/inputs/3.png') no-repeat center
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    font-size: 1rem;
    color: #46c4c4;
    background-color: #161539;
    border: none;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control {
    
    min-width: 80%;
}
::-webkit-input-placeholder {
    color:#afa0ba
}
::-moz-placeholder {
    color:#afa0ba
}
:-moz-placeholder {
    color:#afa0ba
}
:-ms-input-placeholder {
    color:#afa0ba
}
.form__label_btc {
    position:relative;
    margin-bottom:30px
}
.form__label_btc::after {
    font-size:20px;
    position:absolute;
    top:7px;
    right:15px;
    content:' ';
    content:attr(data-btc);
    color:#402f65
}
.form__label_select {
    position:relative
}
.form__label_select::after {
    position:absolute;
    top:20px;
    right:15px;
    display:block;
    width:0;
    height:0;
    content:' ';
    border-width:4px 4px 0 4px;
    border-style:solid;
    border-color:#402f65 transparent transparent transparent
}
.module__top__mouse {
    display:-webkit-box;
    display:-moz-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:box;
    display:flex;
    width:76px;
    height:76px;
    margin:15px auto 0 auto;
    border:1px solid #fff;
    border-radius:50%
}
.module__top__mouse::after {
    display:block;
    width:25px;
    height:36px;
    margin:auto;
    content:' ';
    content:'';
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    -webkit-transform:translateY(0px);
    -moz-transform:translateY(0px);
    -ms-transform:translateY(0px);
    -o-transform:translateY(0px);
    transform:translateY(0px);
    background:url('../images/background/mouse.png') no-repeat center
}
.module__top__mouse:hover::after {
    content:' ';
    content:'';
    -webkit-animation:mouse 1s infinite linear;
    -moz-animation:mouse 1s infinite linear;
    -ms-animation:mouse 1s infinite linear;
    -o-animation:mouse 1s infinite linear;
    animation:mouse 1s infinite linear
}
.module__top__content {
    padding-top:5em
}
.module__mining-work__item-1,
.module__mining-work__item-2,
.module__mining-work__item-3,
.module__mining-work__item-4,
.module__mining-work__item-5 {
    font-size:13px;
    line-height:24px;
    position:absolute
}
.module__mining-work__item-1 {
    top:22px;
    width:100%;
    padding-left:3px;
    text-align:center
}
.module__mining-work__str-1 {
    margin-right:4px
}
.module__mining-work__item-2 {
    top:290px
}
.module__mining-work__item-3 {
    top:240px;
    left:1031px;
    letter-spacing:-1px
}
.module__mining-work__item-4 {
    top:464px;
    left:300px
}
.module__mining-work__item-5 {
    top:435px;
    left:884px
}
.module__mining-work__str-1,
.module__mining-work__str-2,
.module__mining-work__str-3 {
    font-size:16px;
    text-transform:uppercase;
    color:#402f65
}
.module__mining-work__str-2 {
    font-weight:400
}
.module__mining-work__str-3 {
    font-weight:400;
    color:#ffcb01
}
.module__cert__str {
    font-size:18px;
    font-weight:400;
    display:block;
    text-transform:uppercase;
    color:#402f65
}
.module__cert__hash {
    margin-bottom:15px
}
.center-button {
    display:flex;
    justify-content:center
}
.center-button a {
    margin:.5em
}
.module__cert__link {
    position:absolute;
    top:25%;
    left:43%;
    width:212px;
    height:212px;
    background:url(../images/background/bg8.png) no-repeat center;
    background-size:75%
}
.col-margin {
    margin:3em auto
}
.col-margin-top {
    margin-top:3em
}
.module__mining-work {
    padding:60px 0 120px 0;
    border-bottom:1px solid #f0e9f5
}
.module__cert {
    padding:2em 0
}
.align-center {
    display:flex;
    justify-content:center
}
.align-content {
    display:flex;
    justify-content:center
}
.module__benefit__str {
    font-size:20px;
    display:block;
    width:100%;
    margin:30px 0 25px 0;
    text-align:center;
    color:#402f65
}
.module__building p {
    padding:0 3em;
    text-align:justify
}
.module__team__str {
    font-size:18px;
    font-weight:400;
    margin:15px 0;
    color:#402f65
}
.module__team__str-2 {
    margin:0 0 30px 0;
    color:#402f65
}
.module__team__item {
    margin-bottom:0;
    padding:30px 20px 20px 20px;
    text-align:center;
    border-radius:5px;
    background:#fff
}
.team-line {
    border-bottom:1px solid #483067;
    width:40px;
    margin:0 auto
}
.module__team {
    position:relative;
    z-index:1;
    padding:50px 0 0 0;
    background:#fff
}
.navbar-toggler {
    display:flex;
    padding:.25em .55em
}
.collapse:not(.show) {
    display:none;
    height:0!important
}
.header_btn_mobile {
    flex:2;
    justify-content:flex-end;
    margin-right:15px
}
.menu-navbar ul li {
    line-height:2
}
.main-menu {
    display:flex;
    flex:1
}
.main-menu__item_active .nav-link {
    color:#ffcb01!important
}
.navbar-light .module_lang .navbar-nav .nav-link:hover {
    color:#a496ae
}
.dropdown-item {
    padding:.25rem 1rem
}
.dropdown-item:focus,
.dropdown-item:hover {
    color:#a496ae
}
.form__label {
    font-size:16px;
    margin:0 0 20px 0;
    color:#fff
}
.form__label,
.form__area {
    display:block;
    width:100%
}
.form__input,
.form__select {
    display:block;
    padding:0 15px;
    width:100%;
    height:42px;
    margin:0;
    border-radius:2px;
    -webkit-transition:ease-in-out .2s;
    -moz-transition:ease-in-out .2s;
    -ms-transition:ease-in-out .2s;
    -o-transition:ease-in-out .2s;
    transition:ease-in-out .2s;
    border:1px solid #5e4875
}
.form__area {
    margin:0;
    padding:5px 15px;
    border-radius:2px
}
.dash__label {
    font-size:16px;
    display:block;
    margin:0 0 20px 0;
    color:#fff
}
.dash__input {
    display:block;
    width:100%;
    height:42px;
    margin:0;
    color:#808080;
    border:1px solid border-grey;
    background:#232323
}
.dash__input:focus {
    color:#fff;
    border-color:#fff
}
.form__link {
    font-size:12px;
    line-height:20px;
    display:block;
    margin:0!important
}
.form__label_disabled {
    position:relative
}
.form__label_disabled:after {
    position:absolute;
    z-index:1;
    top:13px;
    right:15px;
    display:block;
    width:20px;
    height:20px;
    content:'';
    background:url('../images/inputs/1.png') no-repeat center
}
.form__label_search {
    position:relative
}
.form__label_search input {
    line-height:43px;
    height:43px
}
.form__label_search:after {
    position:absolute;
    z-index:1;
    top:12px;
    right:15px;
    display:block;
    width:20px;
    height:20px;
    content:'';
    background:url('../images/inputs/3.png') no-repeat center
}
::-webkit-input-placeholder {
    color:#afa0ba
}
::-moz-placeholder {
    color:#afa0ba
}
:-moz-placeholder {
    color:#afa0ba
}
:-ms-input-placeholder {
    color:#afa0ba
}
.close {
    position:absolute;
    left:18px
}
.form-section {
 
    display:none
}
.current {
    display:inherit
}
.parsley-required,
.parsley-type {
    color:white;
    padding-top:.2em
}
.form-section label {
    color:#fff
}
.signup_checkbox {
    padding-top:2em;
    color:#fff;
    text-align:center
}
.signup_checkbox a {
    color:#ffcb01
}
.checkbox {
    padding-left:20px
}
.checkbox label {
    display:inline-block;
    position:relative;
    padding-left:5px
}
.checkbox label::before {
    content:"";
    display:inline-block;
    position:absolute;
    width:17px;
    height:17px;
    left:0;
    margin-left:-20px;
    border:1px solid #ccc;
    border-radius:3px;
    background-color:#fff;
    -webkit-transition:border .15s ease-in-out,
    color .15s ease-in-out;
    -o-transition:border .15s ease-in-out,
    color .15s ease-in-out;
    transition:border .15s ease-in-out,
    color .15s ease-in-out
}
.checkbox label::after {
    display:inline-block;
    position:absolute;
    width:16px;
    height:16px;
    left:0;
    top:0;
    margin-left:-20px;
    padding-left:3px;
    padding-top:0;
    font-size:11px;
    color:#555
}
.checkbox input[type="checkbox"] {
    opacity:0
}
.checkbox input[type="checkbox"]:focus+label::before {
    outline:0;
    outline:0;
    outline-offset:0
}
.checkbox input[type="checkbox"]:checked+label::after {
    font-family:"Font Awesome 5 Free";
    font-weight:900;
    content:"\f00c"
}
.checkbox input[type="checkbox"]:disabled+label {
    opacity:.65
}
.checkbox input[type="checkbox"]:disabled+label::before {
    background-color:#eee;
    cursor:not-allowed
}
.checkbox.checkbox-circle label::before {
    border-radius:50%
}
.checkbox.checkbox-inline {
    margin-top:0
}
.checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color:#428bca;
    border-color:#428bca
}
.checkbox-primary input[type="checkbox"]:checked+label::after {
    color:#fff
}
.checkbox-danger input[type="checkbox"]:checked+label::before {
    background-color:#d9534f;
    border-color:#d9534f
}
.checkbox-danger input[type="checkbox"]:checked+label::after {
    color:#fff
}
.checkbox-info input[type="checkbox"]:checked+label::before {
    background-color:#5bc0de;
    border-color:#5bc0de
}
.checkbox-info input[type="checkbox"]:checked+label::after {
    color:#fff
}
.checkbox-warning input[type="checkbox"]:checked+label::before {
    background-color:#f0ad4e;
    border-color:#f0ad4e
}
.checkbox-warning input[type="checkbox"]:checked+label::after {
    color:#fff
}
.checkbox-success input[type="checkbox"]:checked+label::before {
    background-color:#5cb85c;
    border-color:#5cb85c
}
.checkbox-success input[type="checkbox"]:checked+label::after {
    color:#fff
}
.promoter {
    color:white;
    text-align:center;
    width:auto;
    background:rgba(21,
    20,
    20,
    0.27);
    padding:3px 0;
    margin:2em 1em 0 2.5em
}
section.about {
    padding-top: 60px;
    padding-bottom: 60px;
}
.infob {
    font-size: 14px;
    font-weight: 600;
}
.circle {
    background-color:rgba(0,
    0,
    0,
    0);
    border:5px solid rgba(0,
    183,
    229,
    0.9);
    opacity:.9;
    border-right:5px solid rgba(0,
    0,
    0,
    0);
    border-left:5px solid rgba(0,
    0,
    0,
    0);
    border-radius:100px;
    box-shadow:0 0 35px #2187e7;
    width:150px;
    height:150px;
    margin:0 auto;
    -moz-animation:spinPulse 1s infinite ease-in-out;
    -webkit-animation:spinPulse 1s infinite linear
}
.text.switch {
    margin-left: 150px;
}
.circle1 {
    background-color:rgba(0,
    0,
    0,
    0);
    border:5px solid rgba(0,
    183,
    229,
    0.9);
    opacity:.9;
    border-left:5px solid rgba(0,
    0,
    0,
    0);
    border-right:5px solid rgba(0,
    0,
    0,
    0);
    border-radius:50px;
    box-shadow:0 0 15px #2187e7;
    width:100px;
    height:100px;
    margin:0 auto;
    position:relative;
    top:-125px;
    -moz-animation:spinoffPulse 1s infinite linear;
    -webkit-animation:spinoffPulse 1s infinite linear
}
.circle2 {
    background-color:rgba(0,
    0,
    0,
    0);
    border:5px solid rgba(0,
    183,
    229,
    0.9);
    opacity:.9;
    border-right:5px solid rgba(0,
    0,
    0,
    0);
    border-left:5px solid rgba(0,
    0,
    0,
    0);
    border-radius:50px;
    box-shadow:0 0 35px #2187e7;
    width:50px;
    height:50px;
    margin:0 auto;
    -moz-animation:spinPulse 1s infinite ease-in-out;
    -webkit-animation:spinPulse 1s infinite linear;
    top:-200px;
    position:relative
}
@-moz-keyframes spinPulse {
    0% {
        -moz-transform:rotate(160deg);
        opacity:0;
        box-shadow:0 0 1px #2187e7
    }
    50% {
        -moz-transform:rotate(145deg);
        opacity:1
    }
    100% {
        -moz-transform:rotate(-320deg);
        opacity:0
    }
}
@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform:rotate(0deg)
    }
    100% {
        -moz-transform:rotate(360deg)
    }
}
@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform:rotate(160deg);
        opacity:0;
        box-shadow:0 0 1px #2187e7
    }
    50% {
        -webkit-transform:rotate(145deg);
        opacity:1
    }
    100% {
        -webkit-transform:rotate(-320deg);
        opacity:0
    }
}
@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg)
    }
}

.loader {
    margin:200px auto
}
.loader.h1 {
    font-family:'Actor',
    sans-serif;
    color:#FFF;
    font-size:16px;
    letter-spacing:1px;
    font-weight:200;
    text-align:center
}
.loader span {
    width:16px;
    height:16px;
    border-radius:50%;
    display:inline-block;
    position:absolute;
    left:50%;
    margin-left:-10px;
    -webkit-animation:3s infinite linear;
    -moz-animation:3s infinite linear;
    -o-animation:3s infinite linear
}
.loader span:nth-child(2) {
    background:#e84c3d;
    -webkit-animation:kiri 1.2s infinite linear;
    -moz-animation:kiri 1.2s infinite linear;
    -o-animation:kiri 1.2s infinite linear
}
.loader span:nth-child(3) {
    background:#f1c40f;
    z-index:100
}
.loader span:nth-child(4) {
    background:#2fcc71;
    -webkit-animation:kanan 1.2s infinite linear;
    -moz-animation:kanan 1.2s infinite linear;
    -o-animation:kanan 1.2s infinite linear
}
@-webkit-keyframes kanan {
    0% {
        -webkit-transform:translateX(20px)
    }
    50% {
        -webkit-transform:translateX(-20px)
    }
    100% {
        -webkit-transform:translateX(20px);
        z-index:200
    }
}
@-moz-keyframes kanan {
    0% {
        -moz-transform:translateX(20px)
    }
    50% {
        -moz-transform:translateX(-20px)
    }
    100% {
        -moz-transform:translateX(20px);
        z-index:200
    }
}
@-o-keyframes kanan {
    0% {
        -o-transform:translateX(20px)
    }
    50% {
        -o-transform:translateX(-20px)
    }
    100% {
        -o-transform:translateX(20px);
        z-index:200
    }
}
@-webkit-keyframes kiri {
    0% {
        -webkit-transform:translateX(-20px);
        z-index:200
    }
    50% {
        -webkit-transform:translateX(20px)
    }
    100% {
        -webkit-transform:translateX(-20px)
    }
}
@-moz-keyframes kiri {
    0% {
        -moz-transform:translateX(-20px);
        z-index:200
    }
    50% {
        -moz-transform:translateX(20px)
    }
    100% {
        -moz-transform:translateX(-20px)
    }
}
@-o-keyframes kiri {
    0% {
        -o-transform:translateX(-20px);
        z-index:200
    }
    50% {
        -o-transform:translateX(20px)
    }
    100% {
        -o-transform:translateX(-20px)
    }
}
.move_logo_redirect {
    position:relative;
    top:3px;
    left:2px
}
.h-90 {
    height:90%!important
}
.footer_center {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto
}
@media(max-width:768px) {
    .hide_field {
        display:none!important
    }
    section.affilate {
        padding-top: 250px;
    }
    .m-center {
        text-align: center !important;
    }
}
.module__registration__popup {
    margin-bottom: 32px;
}
.wallets-block-item {
    width:16.6666%;
    text-align:center;
    height:68px;
    position:relative
}
.wallets-block {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.form-financial__block.new_style {
    position:relative;
    margin-bottom:50px
}
.wallets-block-item label {
    height:68px;
    position:relative;
    display:inline-grid;
    margin-bottom:0;
    color:#fff;
    transition:.4s ease-in-out;
    font-size:10px;
    text-align:center;
    padding-bottom:54px;
    opacity:.27;
    line-height:1;
    margin-top:1em;
    font-weight:600
}
.wallets-block-item:before {
    content:'';
    position:absolute;
    background:rgba(150,
    148,
    200,
    0.18,);
    width:1px;
    height:31px;
    right:0;
    top:50%;
    margin-top:-15px
}
.wallets-block-item input[type=radio] {
    display:none
}
.wallets-block-item input[type=radio]:checked+label {
    opacity:27
}
.svg_dashboard_coin {
    height:40px;
    margin:1em
}
.svg_dashboard_coin_calc {
    height:30px;
    margin:.5em 1em
}
.form__label_calc {
    font-size:16px;
    margin:30px 0 5px 0;
    color:#fff
}
.c-1 {
    color:#fff;
    font-weight:600
}
@media only screen and (max-width:575px) {
    .wallets-block-item {
        width:33.3333%
    }
}
#mindep-1,
#maxdep-1,
#mindep-2,
#maxdep-2,
#mindep-3,
#maxdep-3,
.currency {
    font-weight:400;
    font-size:14px;
    color:white
}
.period {
    font-weight:600
}
.percent {
    height:40px
}
.percent i {
    font-size:30px;
    position:relative;
    bottom:2px
}
.fw-600 {
    font-weight:600
}
.active-plan {
    border:1px solid #fff
}
.custom-control {
    padding-left:0!important
}
.active-plan {
    border:4px solid rgba(255,
    255,
    255,
    0.6);
    position:relative;
    width:100%
}
@media(min-width:575px) {
    .col-calc-lg-3 {
        -ms-flex:0 0 23%;
        flex:0 0 23%;
        max-width:23%
    }
}
.btn_hash {
    display:inline-block;
    text-decoration:none;
    color:rgba(152,
    152,
    152,
    0.43);
    width:100px;
    height:100px;
    line-height:100px;
    font-size:40px;
    border-radius:50%;
    text-align:center;
    vertical-align:middle;
    overflow:hidden;
    font-weight:bold;
    background-image:-webkit-linear-gradient(#e8e8e8 0,
    #d6d6d6 100%);
    background-image:linear-gradient(#e8e8e8 0,
    #d6d6d6 100%);
    text-shadow:1px 1px 1px rgba(255,
    255,
    255,
    0.66);
    box-shadow:inset 0 2px 0 rgba(255,
    255,
    255,
    0.5),
    0 2px 2px rgba(0,
    0,
    0,
    0.19);
    border:1px solid #b5b5b5;
    border-bottom:solid 3px #b5b5b5
}
.btn_hash .fa {
    line-height:80px
}
.btn_hash:active {
    background-image:-webkit-linear-gradient(#efefef 0,
    #d6d6d6 100%);
    box-shadow:inset 0 1px 0 rgba(255,
    255,
    255,
    0.5),
    0 2px 2px rgba(0,
    0,
    0,
    0.19);
    border-bottom:0
}
.btn_hash:hover {
    color:#cbcbcb
}
.svg_pop_1 {
    transform:scale(0.8);
    z-index:1000;
    width:59px;
    margin:10px auto;
    height:55px;
    position:absolute;
    top:0;
    right:0
}
.svg_pop_2 {
    padding:9px;
    transform:scale(0.8);
    z-index:1000;
    width:58px;
    margin:10px auto;
    height:53px;
    position:absolute;
    top:75px;
    right:0
}
.svg_pop_3 {
    transform:scale(0.8);
    z-index:1000;
    width:59px;
    margin:10px auto;
    height:55px;
    position:absolute;
    top:150px;
    right:0
}
.svg_pop:after {
    content:"";
    width:50%;
    height:0;
    border-bottom:1px solid #fff;
    margin:0 auto;
    top:75px;
    position:absolute;
    right:15px
}
.svg_pop_a:after {
    content:"";
    width:50%;
    height:0;
    border-bottom:1px solid #fff;
    margin:0 auto;
    top:150px;
    position:absolute;
    right:15px
}
.bar {
    position:fixed;
    right:0;
    top:22%;
    width:60px;
    height:240px;
    display:flex;
    border:1px solid white;
    border-right:0;
    z-index:10000;
    background:rgba(77,
    52,
    112,
    0.6);
    border-radius:5px 0 0 5px
}
.modal-content-home-calc {
    position:relative;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    width:100%;
    pointer-events:auto;
    background-color:transparent;
    background-clip:padding-box;
    border:o;
    border-radius:.3rem;
    outline:0
}
.telegram-pop {
    position:fixed;
    z-index:1;
    left:20px;
    bottom:75px;
    z-index:9999
}
.telegramim_button {
    opacity:1;
    cursor:pointer;
    text-align:center;
    display:block;
    padding:15px 35px 15px 30px;
    text-decoration:none!important;
    text-transform:none;
    letter-spacing:normal;
    font-size:18px;
    background:#27a5e7;
    -webkit-box-shadow:1px 1px 5px #27a5e7;
    box-shadow:1px 1px 5px #27a5e7;
    color:#fff;
    border-radius:50px;
    font-family:"Open Sans",
    Arial,
    sans-serif;
    font-weight:400
}
@media(max-width:691px) {
    .telegramim_button {
        padding:7px 25px 7px 25px
    }
}
.telegramim_button:hover,
.telegramim_button:active,
.telegramim_button:visited {
    color:#fff
}
.telegramim_shadow {
    -webkit-box-shadow:1px 1px 5px rgba(50,
    162,
    231,
    0.7);
    box-shadow:1px 1px 5px rgba(50,
    162,
    231,
    0.7)
}
.telegramim_shadow:hover {
    -webkit-box-shadow:1px 1px 15px rgba(50,
    162,
    231,
    0.7)!important;
    box-shadow:1px 1px 15px rgba(50,
    162,
    231,
    0.7)!important;
    color:#fff
}
.telegramim_pulse {
    animation:animationpulse 2s infinite;
    -webkit-animation:animationpulse 2s ease-out;
    -webkit-animation-iteration-count:infinite
}
.telegramim_pulse:hover {
    -webkit-animation:linear;
    animation:linear
}
@-webkit-keyframes animationpulse {
    0% {
        -webkit-box-shadow:0 0 0 0 inherit
    }
    70% {
        -webkit-box-shadow:0 0 0 15px rgba(0,
        0,
        0,
        0)
    }
    100% {
        -webkit-box-shadow:0 0 0 0 rgba(0,
        0,
        0,
        0)
    }
}
@keyframes animationpulse {
    0% {
        -webkit-transform:scale(1.0,
        1.0);
        transform:scale(1.0,
        1.0);
        -webkit-box-shadow:0 0 0 0 inherit;
        box-shadow:0 0 0 0 inherit
    }
    10% {
        -webkit-transform:scale(1.1,
        1.1);
        transform:scale(1.1,
        1.1)
    }
    15% {
        -webkit-transform:scale(1.0,
        1.0);
        transform:scale(1.0,
        1.0)
    }
    70% {
        -webkit-box-shadow:0 0 0 15px rgba(0,
        0,
        0,
        0);
        box-shadow:0 0 0 15px rgba(0,
        0,
        0,
        0)
    }
    100% {
        -webkit-box-shadow:0 0 0 0 rgba(0,
        0,
        0,
        0);
        box-shadow:0 0 0 0 rgba(0,
        0,
        0,
        0)
    }
}
.partner_line {
    display:inline-block;
    border-color:#5b3b74;
    background-color:#5b3b74;
    height:8px;
    border-radius:0;
    min-width:90px
}
.module__secure__img {
    margin:0 auto;
    min-height:80px;
    display:flex;
    align-items:center;
    justify-content:center!important;
    padding-bottom:1em
}
.faq-home {
    color:#000
}
.ff_faq_header {
    display:block
}
.ff_faq_item {
    color:#000;
    padding:2em;
    text-align:justify
}
.popover {
    top:108px!important
}
.popover-header {
    display:none
}
.popover {
    max-width:306.6px;
    border-radius:6px;
    border:0;
    box-shadow:0 0 6px 1px #eee
}

.color-1 {
    color:#000
}
.popover-body p a {
    color:#402f65
}
.popover-body p a:hover {
    color:#402f65;
    background:#ff016b;
    text-decoration:none;
    padding:.4em
}
#chartdiv {
    width:100%;
    min-height:410px;
    padding:3em
}
.modal_close {
    position:absolute;
    right:-32px;
    bottom:105px
}
.modal_close span {
    font-size:40px;
    color:#dad6d6
}
.modal_close_calc {
    position:absolute;
    top:-28px;
    bottom:inherit
}
.disabled {
    opacity:.2
}
.dropdown-item.disabled,
.dropdown-item:disabled {
    color:#fff;
    pointer-events:none;
    background-color:transparent
}
.text p {
    text-align:Justify
}
.text h6 {
    color:#5b3b74
}
.youtube_video {
    border:3px solid #d2d2d2;
    border-radius:2px
}
.about-video__link {
    display:inline-block;
    position:relative;
    z-index:2;
    transition:.5s
}
.play-button {
    background:url(../images/png/play.html) 0 0 no-repeat;
    width:77px;
    height:54px;
    position:absolute;
    display:block;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,
    -50%);
    transform:translate(-50%,
    -50%);
    background-size:contain
}
.play-button:hover {
    filter:brightness(.7);
    transition:.3s
}
textarea {
    border:0;
    overflow:auto;
    outline:0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
    resize:none
}
.module__secure__item {
    margin:15px;
    padding:40px 20px;
    text-align:center;
    border-radius:4px;
    -webkit-box-shadow:0 0 10px rgba(0,
    0,
    0,
    .15);
    box-shadow:0 0 10px rgba(0,
    0,
    0,
    .15);
    min-height:275px
}
.highcharts-exporting-group,
.highcharts-credits {
    display:none
}
.highcharts-title {
    font-size:14px!important
}
#container {
    height:400px;
    min-width:210px;
    max-width:800px;
    margin:0 auto
}
.partner_line {
    display:inline-block;
    border-color:#5b3b74;
    background-color:rgba(91,
    59,
    116,
    0.46);
    height:4px;
    border-radius:0;
    min-width:90px;
    margin-top:25px
}
.form-control {
    display: block;
    width: 100%;
    height: 2rem;
    padding: 1.475rem 0.85rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    font-weight: 500;
    background-color: #ffffff0a;
    background-clip: padding-box;
    border: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.form-control:focus {
    color:#ffffff !important;
    background-color:rgba(255, 255, 255, 0);
    border-color:inherit;
    outline:0;
    box-shadow:inherit
}
section.divide {
    margin: 80px 0px !important;
    padding-top: 2em;
}
section.video {
    margin-top: 80px !important;
    padding-top: 2em;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #ffffff1c;
    border-color: none !important;
}
.nav-tabs {
    border-bottom: none !important;
    margin-bottom: 20px;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef12 !important;
    opacity: 1;
}
@media (max-width: 768px){ 
.container {
    max-width: 85%;
}
.navbar-light .navbar-nav .nav-link {
    font-weight: 400;
    font-size: 28px;
    padding: 15px 10px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}
.header__link {
    margin-right: 18px !important;
    font-size: 18px !important;
    padding: 22px 19px !important;
    line-height: 0 !important;
}
.deposits label {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.logoimg {
    width: 50%;
}
.navbar-toggler {
    border:none;
}
i.fas.fa-bars {
    font-size: 25px;
}
.col-md-4.col-xs-6.dnone-sm {
    display: none !important;
}
}
.modal-content {

    background-color: #1a1845;

}
.modal-header {
    
    border-bottom: none;

}
.aff {
    justify-content: center;
    height: 300px;
    align-items: center;
    font-size: 45px;
    text-align: center;
    font-weight: 600;
}
.text.switch:after {
    font-weight: 500;
    font-size: 30px;
    content:'';
    animation: text-switch 10s linear infinite;
}
.text.switch:first-line {
    font-size: 80px;
    font-weight: 700;
    line-height: 1em;
}
@keyframes text-switch {
    0% {
        content:'6%\A Level 1';
        opacity: 100%;
        white-space:pre-line;
        }
    20% {
        opacity: 0%;
    }
    40% {
        content:'2%\A Level 2';
        
        opacity: 100%;
        white-space:pre-line;

    }
    60% {
        opacity: 0%;
    }
    80% {
        content:'1%\A Level 3';
        opacity: 100%;
        white-space:pre-line;


    }
    100% {
        opacity: 0%;
    }

}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: none;
    opacity: 1;
}
a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.spacetext {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px !important;
    align-items: center;
    letter-spacing: 3px;
}
section.how {
    padding: 60px 0;
}